/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
/* end CSS reset */

button {
  border: none;
  background-color: var(--text-dark-color);
  color: var(--text-light-color);
  border-radius: 12px;
  padding: 2px 2ch;
  min-width: 100px;
}

button:hover,
button:active {
  background-color: var(--text-light-color);
  color: var(--text-dark-color);
  transform: scale(1.2);
  transition: 0.2s;
}

:root {
  --sidebar-bg-color: #798553;
  --text-light-color: #ebeceb;
  --text-dark-color: #081d0a;
}

#page-wrapper {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

#header-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding-top: 1rem;
  gap: 12px;
  background-color: var(--sidebar-bg-color);
  color: var(--text-light-color);
}

#avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1ch;
}

.empty-icon {
  fill: var(--text-light-color);
}

#view-div,
#list-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1ch;
  padding: 24px 0;
}

#app-title {
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--text-dark-color);
}

#content {
  padding-top: 1rem;
  grid-column: 2 / 3;
}

@media screen and (max-width: 1050px) {
  #app-title {
    flex-direction: column;
  }
}
